{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>
    <div class="container container-table">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Book Name</th>
                <th>Author Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Publisher</th>
                {% if is_granted('ROLE_ADMIN')%}
                    <th>Seller</th>
                {% endif %}
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.BookName }}</td>
                    <td>
                        <a href="{{ path('app_author_show', {'id': book.author.id})}}">
                            {{book.author.authorName}}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('app_category_show', {'id': book.category.id})}}">
                            {{book.category.name}}
                        </a>
                    </td>
                    <td>
                        <img class="card-img-top" src="{{ asset('images/book/' ~ book.image) }}" >
                    </td>
                    <td>{{ book.price }}</td>
                    <td>{{ book.publisher }}</td>
                    {% if is_granted('ROLE_ADMIN')%}
                        <td>{{ book.user.fullName }}</td>
                    {% endif %}
                    <td>
                        <a class="btn btn-primary" href="{{ path('app_book_show', {'id': book.id}) }}">show</a>
                        <a  class="btn btn-info" href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-warning" href="{{ path('app_book_new') }}">Create new</a>
    </div>
{% endblock %}
