{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>
    <div class="container container-table">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Book Name</th>
                <td>{{ book.BookName }}</td>
            </tr>
            <tr>
                <th>Author Name</th>
                <td>{{ book.author.authorName }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ book.category.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ book.price }}</td>
            </tr>
            <tr>
                <th>Seller</th>
                <th>{{ book.user.fullName }}</th>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-secondary" href="{{ path('app_book_index') }}">back to list</a>
        {% if not is_granted('ROLE_CUSTOMER') %}
            <a class="btn btn-info" href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>
        {% endif %}
    </div>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
