<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">LIBRARY BOOK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_category_index')}}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_author_index')}}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_book_index')}}">Books</a>
                </li>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SELLER')%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_order_index')}}">Order Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_infoUser') }}">Customer</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN')%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_infoSeller') }}">Seller</a>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SELLER') %}
                    <li class="nav-item"><a href="{{ path('app_book_index') }}" class="nav-link">Products</a></li>
                {% endif %}
                {% if is_granted('ROLE_CUSTOMER')%}
                    <li class="nav-item">
                        <input type="hidden"><a href="{{ path('app_review_cart') }}" class="nav-link">Cart </a><br>
                    </li>
                {% endif %}
                {% if app.user %}
                    <li class="nav-item"><a class="nav-link">{{ app.user.fullName }}</a></li>
                {% endif %}
                <li class="nav-item">
                    <a href="/{{ app.user ? 'logout' : 'login' }}" class="nav-link">
                        {{ app.user ? 'Logout' : 'Login' }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-warning" href="/register" class="nav-link">
                        {% if app.user %}Register
                        {% endif %}
                        {{ app.user ? '' : 'Register' }}
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>